<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>stsMvcProj</title>

</head>

<body>
	<h2>stsMvcProj</h2>
	
	<a href="request/attr1">attr1</a><br />
	<a href="request/attr2">attr2</a><br />
	<a href="request/attr3">attr3</a><br />
	<a href="request/attr4?age=33&nick=zxcv&jum=56&jum=59&jum=52">attr4</a><br />
	<a href="request/attForm">attForm</a><br />
	<a href="request/order">order</a>
	<hr />
	<h2>중간 문제 풀이</h2>
	<a href="seung/userform">가즈아</a> <br />
	<a href="seung/coffeEx">커피 가격 구하기(파라미터)</a>
	<hr />
	<h2>param 예제</h2>
	<a href="request/param1?id=aaa&age=45&marriage=true">param1</a>
	<a href="request/param2?id=bbb&age=34&marriage=true">param2</a>
	<a href="request/param1?id=ccc">param1</a>
	<a href="request/param2?id=ddd">param2</a>
	<a href="request/param3?id=eee&age=27&marriage=true">param3</a>
	<a href="request/param3?id=fff&aaa=23&mrg=true">param3</a>
	<a href="request/param3?id=ggg">param3</a>
	<a href="request/param4?id=hhh&aaa=28&mrg=true">param4</a>
	<a href="request/param4?id=iii">param4</a>
	<a href="request/coffee">coffeeOrder</a>
	<h2>redirect</h2>
	<a href="red/from1">from1</a>
	<a href="red/from1?id=aaa&age=44&marriage=true">from1</a>
	<a href="red/from2?id=bbb&age=44&marriage=true">from2</a>
	<a href="red/from3?id=bbb&age=44&marriage=true">from3</a>
	<a href="red/from4?id=bbb&age=44&marriage=true">from4</a>
	<a href="red/from5?id=eee&age=26&marriage=false">from5</a>
	<a href="red/from6?id=fff&age=31&marriage=true">from6</a>
	<hr />
	<h2>file</h2>
	<a href="file/upload">upload</a>
	<h2>cookie</h2>
	<a href="cookie/make1">쿠키생성</a>
	<a href="cookie/make2">쿠키2생성</a>
	<a href="cookie/view">view</a>
	<a href="cookie/delete">delete</a>
	<h2>로그인</h2>
	<a href="login/loginMain">로그인</a>
	<h2>로그인쌤</h2>	
	<a href="thyme/control">컨트롤</a>	
	<a href="thyme/calc">calc</a>	
	<h2>session</h2>
	<a href="session/make1">make1</a>
	<a href="session/make2">make2</a>
	<a href="session/view">view</a>
	<a href="session/delete">delete</a>
	<h2>session 로그인</h2>
	<a href="slogin/loginMain">로그인</a>
	<h2> 모델어튜리ㅂ부트</h2>
	<a href="model/mmm1">mmm1</a>
	<a href="model/mmm2">mmm2</a>
	<a href="model/mmm2?no=1">mmm2-1</a>
	<a href="model/mmm2?no=2">mmm2-2</a>
	<h2>시즌</h2>
	<a href="model/season/spring">시즌</a>
	<h2>레이아웃</h2>
	<a href="thyme/lay">lay</a>
	<h2>path</h2>
	<a href="path/aaa">aaa</a>
	<a href="path/tv/aaa">tv/aaa</a>
	<a href="path/phone/bbb">phone/bbb</a>
	<a href="path/notice/list/2">path/notice/list/2</a>
	<a href="path/notice/detail/4">path/notice/detail/4"</a>
	<a href="path/notice/modify/5">path/notice/modify/5</a>
	<h2>provider</h2>
	<a href="provider/list">provider/list</a>
	<a href="provider/bat1">provider/bat1</a>
	<a href="provider/bat1">provider/bat2</a>
	<h2>form</h2>
	<a href="form/form">form/form</a>
	<a href="form/link">form/link</a>
	<a href="form/validation">validation</a>
	<a href="form/examForm">examForm</a>
	
	<h2>EVENT</h2>
	<a href="event/gogo">이벤트고고</a>
	<a href="admin/aaa">admin/aaa</a>
	<a href="admin/bbb">admin/bbb</a>
	<a href="admin/ccc">admin/ccc</a>
	<a href="admin/ddd">admin/ddd</a>
	<a href="admin/eee">admin/eee</a>
	<h2>예약정보 - 성길</h2>
	<a href="book">예약하기</a>
</body>

</html>