<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	function fileDelete(){
		frm.action = "/board/fileDelete"
		frm.submit()
	}
	
</script>
</head>
<body>
	<h1>board/ModifyForm</h1>
	
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{id}"/>
	<table border="">
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}"/></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{pname}"/></td>
		</tr>
		<tr>
			<td>암호</td>
			<td><input type="text" name="pw"/></td>
		</tr>
		<tr>
			<td>파일</td>
			<td>
				<th:block th:unless="${dto.upfile == ''}">
					<input type="text" th:field="*{upfile}" readonly/>
					<input   type="button"   th:value="|*{upfile}파일삭제|"onclick="fileDelete()">
				</th:block>
				<input th:if="${dto.upfile == ''}" type="file" th:field="*{mmff}"/>
			</td>
		</tr>
		
		<tr>
			<td>내용</td>
			<td><textarea th:field="*{content}"></textarea></td>
		</tr>
		
		<tr>
			
			<td colspan="2" align="center">
				<input type="submit" value="수정"/></td>
						<a href="/board/list">목록으로</a>
		</tr>
		
	</table>
</form>
</body>
</html>